@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root{
    --orange-color: #f89950; 
    --black-color: #050a0e;
    --blue-color: #b4c4de;
    --white-color: #e7e7e9;
}

/*Resetar css*/
*{
    font-family: Noto Sans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilizando o body*/
body {
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Noto Sans, sans-serif;
}
/*Esconder áreas que não precisam aparecer*/
.hide{
    display: none;
}

/*Container*/
.container{
    background-color: var(--blue-color);
    box-shadow: var(--black-color) 0px 3px 8px;
    padding: 2rem;
    color: var(--black-color);
    border-radius: 1rem;
}

/*Formulário*/
.form h3{
    margin-bottom: 1rem;
}

.form-input-container{
    display: flex;
}

.form input{
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.form button{
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Informações do clima*/
#weather-data{
    border-top: 1px solid var(--black-color);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}
#weather-data h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

/*Icone do weather data*/
#weather-data h2 i{
    font-size: 1rem;
}

#weather-data span{
    margin: 0.6rem;
}

#country{
    height: 15px;
}

#description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

#description{
    font-weight: bold;
    text-transform: capitalize;/*A primeira letra fica maiúscula*/
}

#details-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-container #humidity{
    border-right: 1px solid var(--black-color);
    margin: 0.6rem;
    padding: 0.6rem;
}

@media (max-width: 1300px) {
    body {
        height: 60vh;
    }
 }








